@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--font-inter);
}

h1 {
  font-family: var(--font-roboto-mono);
}

:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

.dark {
  --background: #1a1a2e;
  --text: #ffffff;
  --primary: #f39c12;
  --button-text: #000000;
}

.light {
  --background: #ffffff;
  --text: #000000;
  --primary: #007bff;
  --button-text: #ffffff;
}